<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--  geeft een naam van deze connectie string  dan pakt ie de naam van de database op    roept de sql client op-->
    <add name ="connectionStringstud"
         
        connectionString="Data Source=.\opiumboy;Initial Catalog=stud;Integrated Security=True"
        providerName="System.Data.SqlClient"
    />
  </connectionStrings>
</configuration>